<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJGVOV8SDx01PefzSFSU5LiR6YFTmSMa0</string>
	<key>GCM_SENDER_ID</key>
	<string>405687256118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sk.traveller.app</string>
	<key>PROJECT_ID</key>
	<string>sk-app-e3c9c</string>
	<key>STORAGE_BUCKET</key>
	<string>sk-app-e3c9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405687256118:ios:b3583009a07ffed5d9c497</string>
</dict>
</plist>